.intro {
    background-color: #ff8351;
    transition: visibility 0s 0.85s;
    z-index: 30;
    .animation-intro-in & {
        transition: none;
        visibility: visible;
    }
    .animation-home-in & {
        transition: visibility 0s 0.85s;
        visibility: hidden;
    }
}
