.loader {
    background: url('https://storage.moqups.com/repo/mUDYl3XlXI/images/8rrizp0nCU.jpg') center / cover no-repeat;
    display: block;
    color: #fff;
    z-index: 10;
    visibility: visible;
    .animation-intro-in & {
        transition: visibility 0s 1s;
        visibility: hidden;
    }
}
