@import '_variables';

.home {
    padding-top: 8vh;
    background-color: #3f6098;
    height: auto;
    opacity: 0.65;
    transform: scale(397 / 750);
    transition: opacity 0.85s @bezier-std, transform 0.85s @bezier-std, visibility 0s 0.85s;
    z-index: 20;
    .animation-home-in & {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
    .animation-login-in & {
        transform: scale(602 / 750);
        visibility: hidden;
    }
    &__content-wrap {
    }
    &__content {
        padding: 1vh 5vw;
        background: rgba(255,255,255,.5);
    }
    &__title {
        text-transform: uppercase;
        color: #fff;
        font-size: 12vw;
        padding: 2vh 5vw;
        margin: 0;
    }
}
